<!-- navbar start -->
<nav class="navbar navbar-expand-md navbar-custom navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" id="font-adjust" [routerLink]="['/']">
      <i class="fa fa-clock-o"></i> MeetTime
    </a>
    
  </div>
</nav>
<!-- navbar end -->
<br/><br/><br/>
<router-outlet></router-outlet>
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "timer"
></ngx-spinner>
<div class="container mt-5">
  <i>Created by <b class="text-info">Anchal Nigam</b></i>
</div>
